<main cdkDropListGroup class="main">
  <div
    *ngIf="arrayTrackData"
    class="container"
    cdkDropList
    [cdkDropListData]="arrayTrackData"
    (cdkDropListDropped)="drop($event)"
  >
    <app-tracks
      class="tracks-row"
      *ngFor="let track of arrayTrackData"
      cdkDrag
      [trackData]="track"
    ></app-tracks>
  </div>
  <ul
    class="drop-area"
    cdkDropList
    [cdkDropListData]="droppedArtistArray"
    (cdkDropListDropped)="drop($event)"
  >
    <li *ngFor="let artist of droppedArtistArray" cdkDrag>
      <app-artist [trackData]="artist" cdkDrag></app-artist>
    </li>
  </ul>

  <div
    *ngIf="arrayArtistData"
    class="artists-column"
    cdkDropList
    [cdkDropListData]="arrayArtistData"
    (cdkDropListDropped)="drop($event)"
  >
    <app-artist
      *ngFor="let artist of arrayArtistData"
      [trackData]="artist"
      cdkDrag
    ></app-artist>
  </div>

  <button class="submit-button" (click)="checkWinner()">Submit</button>
  <app-modal [showModal]="showModal" (closeModal)="onCloseModal()">
    <app-win-card
      *ngIf="isWinnerCard"
      [scoreValue]="score"
      (playButtonClicked)="onPlayButtonClicked()"
    ></app-win-card>
    <app-lose-card
      *ngIf="!isWinnerCard"
      (playButtonClicked)="onPlayButtonClicked()"
    ></app-lose-card>
  </app-modal>
</main>
