/* body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
} */

.drop-area {
  border: #ccc dashed 2px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin-top: 15px;
  display: flex;
}

:host {
  display: block;
  background-color: #fafafa;
  padding: 15px;
  margin: 20px;
  box-sizing: border-box;
}
.submit-button {
  margin: 0 auto;
}
.artist-card {
  background-color: lightblue;
  /* Add other artist-specific styles */
}
.track-card {
  background-color: lightgreen;
  /* Add other track-specific styles */
}
.main {
  margin: 60px;
  box-sizing: border-box;
  overflow: auto;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tracks-row {
  display: flex;
  flex-direction: row;
}

.artists-column {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
