/* body {
  background-color: #191414;
} */
h5 {
  color: #fff;
  transition: transform 0.5s ease-in-out;
  animation: pulsate 1.5s infinite;
}
.main {
  height: 100vh;
  background-color: #191414;
}
/* Flex Row for All Items */
.flex-row {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items at the top */
}

/* Artist Items in a Column */
.artist-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center; /* Center horizontally */
}

.artists-column {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

/* Tracks Displayed in a Row in the Middle */
.track-container {
  margin: -40px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}
.container {
  margin-top: -40px;
  display: flex;
  align-items: center;
}

/* .submit-button {
  margin: 0 auto;
} */
.center-button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: -40px; /* Adjust margin as needed */
}
.submit-button {
  background-color: #1db954; /* Spotify's brand color for the button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 23px;
  cursor: pointer;
  /* transition: transform 0.5s ease-in-out;
  animation: pulsate 1.5s infinite; */
}
/* Keyframes for pulsating button */
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
} */

/* .drop-area {
  border: #ccc dashed 2px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin-top: 15px;
  display: flex;
}

:host {
  display: block;
  background-color: #fafafa;
  padding: 15px;
  margin: 20px;
  box-sizing: border-box;
}
.submit-button {
  margin: 0 auto;
}
.artist-card {
  background-color: lightblue;
  /* Add other artist-specific styles */
/* }
.track-card {
  background-color: lightgreen;
  /* Add other track-specific styles */
/* }
.main {
  margin: 60px;
  box-sizing: border-box;
  overflow: auto;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

/* .tracks-row {
  display: flex;
  flex-direction: row;
}

.artists-column {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
 */
