.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.submit-button {
  margin-top: -200px;
}
